Django==5.2.9
djangorestframework==3.16.1
django-cors-headers==4.9.0
djangorestframework-simplejwt==5.5.1
dj-rest-auth==7.0.1
django-allauth==65.13.1
drf-spectacular==0.29.0
drf-yasg==1.21.11
gunicorn==23.0.0
whitenoise==6.11.0
thefuzz==0.22.1
RapidFuzz==3.14.3
PyJWT==2.10.1
six==1.17.0
pyrsistent==0.20.0
jsonschema==4.17.3
attrs==25.4.0
requests==2.32.3
